.poppyramid {
    width: 287px;
    height: 245px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/poppyramid.png");
}

.scatterplotmat {
    width: 287px;
    height: 245px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/scatterplot.png");
}

