.poppyramid {
    width: 287px;
    height: 245px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/poppyramid.png");
}

.scatterplotmat {
    width: 287px;
    height: 245px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/scatterplot.png");
}

.boxplot {
    width: 287px;
    height: 245px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/boxplot.png");
}

.chorddiagram {
    width: 287px;
    height: 245px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/chorddiagram.png");
}


.bulletchart {
    width: 287px;
    height: 245px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/portfolio/bulletchart.png");
}